spring:
  datasource:
    url: jdbc:mysql://localhost:3306/task_manager?useSSL=false&serverTimezone=Europe/Warsaw
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: admin
  liquibase:
    change-log: classpath:liquibase-changeLog.xml
  jpa:
    show-sql: true